#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
